- 1차원은 Series
    - Series는 속성?값이 하나 일 때  
- 2차원은 pandas